/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    overflow: hidden
}
button.icon{
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 8px;
}

i.rt{
       font-size: 8pt;
    border-radius: 2px;
    background: #e0e0e0;
    color: gray;
    padding: 3px 5px;
}
a{
    color:#03a9f4;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
