html
    head
        title Twitter Bot
        link(rel="stylesheet",href="style.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
  
        meta(name="viewport",content="width=device-width, initial-scale=1")
    body
        div(class="container")
            div(class="toolbar")
                h1(class="logo") Twitter Bot
                i(class="material-icons",style="font-size:80px") cloud
            div(class="body")
                a(class="logbutton",href="/login/twitter") Login
                
