<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Bot</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/x-icon" href="fav.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="toolbar">
        <h1 class="logo">Twitter Bot</h1><i class="material-icons" style="font-size:80px;">cloud</i>
      </div>
      <div class="body"><a class="logbutton" href="/login/twitter">Login</a></div>
    </div>
  </body>
</html>