<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter Bot</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="fav.png">
<link href="styles.74ad5bcb3d29675acd82.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="inline.2de3b59933bada7e3883.bundle.js"></script><script type="text/javascript" src="polyfills.472419eff881642b1c74.bundle.js"></script><script type="text/javascript" src="vendor.d3c70615d95fdfeb0890.bundle.js"></script><script type="text/javascript" src="main.52890b85f3a26a3ea56f.bundle.js"></script></body>
</html>
