<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Static</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="fav.png">
<link href="styles.74ad5bcb3d29675acd82.bundle.css" rel="stylesheet"/></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="inline.90178e01a31ec6f96a69.bundle.js"></script><script type="text/javascript" src="polyfills.d90888e283bda7f009a0.bundle.js"></script><script type="text/javascript" src="vendor.1871a4c36c2898f6a6a7.bundle.js"></script><script type="text/javascript" src="main.c4006616767b3d03c68c.bundle.js"></script></body>
</html>
